
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(247, 247, 247);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    /* Default link color */
    font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: black;
    /* Highlight background */
    color: white;
    /* White text on hover */
    border-radius: 5px;
    transition: all 0.3s ease;
}

html, body {
    background-color:#d0b796 !important; /* your new color */
    height: 100%;
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    display: block;
    height: 50px; /* adjust as needed */
}

.container {
    min-height: 100vh; /* full viewport height */
}

#profile-wrapper{
    text-align: center;
}
#profile-wrapper img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 0;
    list-style-type: none;
}

.social-links li {
    display: inline-block;
    list-style: none;
    margin-right: 10px; /* spacing between icons */
}

.social {
    width: 50px !important;
    height: 50px !important;
    margin: 5px; /* optional spacing between icons */
}
.center-brand {
    position: absolute;
    font-weight: bold;/* makes it bold */
    left: 50%;
    transform: translateX(-50%);
}

/* Contact links hover effect */
.contact-link {
    color: #007bff; /* normal blue text */
    text-decoration: none; /* remove underline by default */
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent; /* reserve space for underline */
}

.contact-link:hover {
    color: #0056b3; /* darker blue on hover */
    border-bottom: 2px solid #007bff; /* underline appears */
}

.active-link,
.active-link:hover {
    background-color: #040404ff !important;
    /* stay brown on hover */
    color: #f7f7f7ff !important;
    /* keep text black */
    border-radius: 5px;
    padding: 5px 10px;
}