{% extends 'base/base.html' %}

{% load static %}

{% block title %}Contact - Vena{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4" style="font-size: 1.35rem;">
            <h4>Contact Me</h4>
            <p><strong>Name:</strong> Vanlal Vena</p>
            <p><strong>Email:</strong> <a class="contact-link"
                    href="mailto:vena.jh123@gmail.com">vena.jh123@gmail.com</a></p>
            <p><strong>Phone:</strong> <a class="contact-link" href="tel:+15155253906">(515) 525-3906</a></p>
            <p><strong>Resume:</strong>
                <a class="contact-link" href="{% static 'images/Resume_Vanlal_Vena.pdf' %}" download>Download PDF</a>
            </p>
        </div>
        
        <div class="col-md-8 text-center mb-5">
            <div id="contact-form" class="mb-4"></div>
            <img src="{% static 'images/VenaResume.png' %}" alt="Resume" class="img-fluid rounded">
        </div> 
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="module" src="{% static 'vueform/main.js' %}"></script>

{% endblock %}