{% extends 'base/base.html' %}
{% load static %}

{% block title %}Projects - Vena{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>My Projects</h2>

    <!-- Project 1 -->
    <div class="card mb-4 text-center project">
        <img src="{% static 'images/github.png' %}" alt="GitHub" class="mb-2 d-block mx-auto" width="50">
        <p style="font-size: 20px;">
            <strong>My Projects:</strong>
            <a href="https://github.com/Venamax21?tab=repositories" target="_blank">github.com/Venamax21</a>
        </p>
    </div>

    <!-- Project 2 -->
    <div class="card mb-4 text-center project">
        <h5 class="mt-2">Math Quiz</h5>
        <a href="https://venamax21.github.io/MathQuiz-demo/" class="btn btn-primary mb-2" target="_blank">Live Demo</a>
        <div class="hero-image">
            <img src="{% static 'images/MathQuiz.png'%}" alt="Math Quiz">
        </div>
    </div>

    <!-- Project 3 -->
    <div class="card mb-4 text-center project">
        <h5 class="mt-2">React Quiz</h5>
        <a href="https://venamax21.github.io/React-Quiz/" class="btn btn-primary mb-2" target="_blank">Live Demo</a>
        <div class="hero-image">
            <img src="{% static 'images/React1.png'%}" alt="React Quiz">
            <img src="{% static 'images/React2.png'%}" alt="React Quiz">
        </div>
    </div>

    <!-- Project 4 -->
    <div class="card mb-4 text-center project">
        <h5 class="mt-2">10K Race Event</h5>
        <div class="hero-image">
            <img src="{% static 'images/RaceInfo.png'%}" alt="10K Race">
            <img src="{% static 'images/RaceInfo2.png'%}" alt="10K Race">
        </div>
    </div>

    <!-- Project 5 -->
    <div class="card mb-4 text-center project">
        <h5 class="mt-2">Musical Play</h5>
        <div class="hero-image">
            <img src="{% static 'images/Theater.png'%}" alt="Musical Play">
        </div>
    </div>
</div>
{% endblock %}

